/env

/FastAPI/__pycache__

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/React/finance-app/node_modules
/React/finance-app/.pnp
/React/finance-app.pnp.js

# testing
/React/finance-app/coverage

# production
/React/finance-app/build